#main, #videos {
  background-image: url("estadio.jpg");
  background-repeat: no-repeat;
  background-size:100% auto;
  margin: 0;
}

.logo-menu {
  float: right;
  margin-right: 5px;

}

#jugadores {
  background-image: url("fondo_players.jpeg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}
#Neymar {
float: right;
margin: auto;
width: 456px;
height: 924px;
}

#Messi {
float: left;
margin: auto;
width: 456px;
height: 924px;
}
#vs img {
  position:fixed;
  width:300px;
  height:200px;
  left:50%;
  top:50%;
  margin-left:-150px;
  margin-top:-100px;
  }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
}

li {
    float: left;
}

li a {
    display: block;
    color: orange;
    text-align: center;
    padding: 16px 22px;
    text-decoration: Border;
}

li a:hover {
    background-color: #199;
}
