#head {
font-style: oblique;
float: none;
}
.tabla {
  border: 1px solid;
  width: auto;
  height: 317;
  border-collapse: collapse;
}
.tabla td {
  text-align: center;
  border: 1px solid;
  margin: inherit;
  padding: 7px;

}

.tabla th {
text-align: center;
border: 5px solid;
margin: auto;
padding: 15px;
}
