*{ box-sizing: border-box;}
@keyframes main-wrapper {
    from {background-color: green;}
    to {background-color: yellow;}
}
@keyframes quare {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}


#main-wrapper{
  background-color: yellow;
   animation-name: main-wrapper;
   animation-duration: 6s;
   animation-fill-mode: backwards;
}

#header {
  padding: 1%;
  text-align: center;
  border: solid;
}
#main-menu {
  width: 50%;
  float: left;

}
#main-menu-from{}

#content-wrapper {
  margin-left: 10px;
  margin-right: 10px;
}

#imagen-hawai img{
   max-width: 100%;
}

#imagen-hawai {
   float: right;
   width: 200px;
}

#imagen-hawai:hover{
  position: relative;
  animation-name: quare;
  animation-duration: 6s;
}

#imagen-hawai:hover #hw0 {
  display: none;
}

#imagen-hawai:hover #hw1 {
  display: block;
}

#hw0 { display: block; }
#hw1 { display: none; }

#content {
   width: 70%;
   float: left;
   border: 1px solid red;
   margin-top: 1.5%;
   padding-top: 1%;
   padding-bottom: 1.8222%;
   padding-right: 1%;
   padding-left: 1%;

 }
#right-menu {
   width: 15%;
   float: left;
   border: 1px solid red;
   margin-top: 1.5%;
   display: block;

 }
 #right-menu-2 {
    width: 15%;
    float: left;
    border: 1px solid red;
    margin-top: 1.5%;
    display: block;

  }
#right-menu-center {
  align-items: : center;
}
#producción{
  color: blue;
}
#footer {
 }

.footer-column {
  width: 33.3333%;
  float: left;
  margin-top: 20px;
  background-color: yellow;
  border: 1px solid blue;
  padding: 5px;

}
img {
  border-style: solid;
  border-color: blue;
}
@keyframes runner {
100% { background-position: -1393px;}
}

@keyframes slide {
100% {margin-right: -319px;}
}
#runner {
  margin-top: 10%;
  width: 278.6px;
  height: 319px;
  background: url("runner4.png");
  animation: runner 1s steps(5) infinite, slide 4s steps(100) infinite;
  margin-right: 100%;
}

.clearfix { clear: both; }
