*{ box-sizing: border-box;}
#main-wrapper {
}

#header {
  text-align: center;
  border: solid;
  padding: 1%;

}
#main-menu {
  width: 50%;
  float: left;
}

#content-wrapper {
margin-left: 10px;
margin-right: 10px;

}
#imagen-hawai {
  float: right;
}
#content {
   width: 70%;
   float: left;
   border: 1px solid red;
   margin-top: 1.5%;
   padding-top: 1%;
   padding-bottom: 0.8%;
   padding-right: 1%;
 }
#imagen-hawai{
  align: right;
}
#right-menu {
   width: 30%;
   float: right;
   border: 1px solid red;
   margin-top: 1.5%;
   display: block;

 }
#right-menu-center {
  align-items: : center;
}
#producción{
  color: blue;
}
#footer {
 }

.footer-column {
  width: 33.3333%;
  float: left;
  margin-top: 20px;
  background-color: yellow;
  border: 1px solid blue;
  padding: 5px;

}
img {
  border-style: solid;
  border-color: blue;
}

.clearfix { clear: both; }
